body {
	font-family: Futura, futura-pt, sans-serif;
}
.navbar {
	margin: 1em 3em;
}
.navbar a {
	color: #6d2300;
}
.navbar a:hover {
	text-decoration: none;	
}
.row {
  width: 100%;}
 section {
 	padding: 4em 0;
 }
  img {
  	max-width: 100%;
  }