body {
	font-family: Futura, futura-pt, sans-serif;
}
.navbar {
	margin: 1em 0;
}
.navbar .row{
	width: 100%;
}
.navbar a {
	color: #6d2300;
}
.navbar a:hover {
	text-decoration: none;	
}
@media(max-width: 767px){
	
	.navbar-nav {
		flex-wrap: wrap;
		flex-direction: row;
	}
	.navbar-nav li{
		display: inline-block;
	    width: auto;
	    /* flex: 0 0 3%; */
	    flex-direction: column;
	    margin-right: 8px;
	}
}

 section {
 	padding: 4em 0;
 }
  img {
  	max-width: 100%;
  }