.media {
  height: auto; }
  .media .pos-vertical-center {
    top: 100%;
    transform: none;
    -webkit-transform: none; }
  .media .feature-7 {
    height: 25.3em; }
    @media (max-width: 767px) {
      .media .feature-7 .pos-absolute {
        position: absolute; } }
    .media .feature-7[data-overlay]:before {
      border-radius: 0; }
    .media .feature-7[data-overlay]:hover:before {
      opacity: 0; }
    .media .feature-7:hover a,
    .media .feature-7:hover i, .media .feature-7:hover {
      cursor: pointer; }
    .media .feature-7:hover .news-title * {
      cursor: pointer; }

@media (min-width: 992px) and (max-width: 1199px) {
  .media .feature-7 {
    height: 27.6em; } }
  .media .box-text {
    padding: 0.1em 0.8em;
    width: auto;
    background: #fff;
    display: inline-block; }
    .media .box-text * {
      color: #000 !important; }

.cover .row .row:last-child {
  margin-top: 2em; }

.news-header-sm {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-transform: uppercase;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 3px;
  line-height: 1.273; }
  .news-header-sm:before {
    background: #509E39;
    content: '';
    display: block;
    -webkit-flex: 0 0 5px;
    -ms-flex: 0 0 5px;
    flex: 0 0 5px;
    margin-bottom: 6px;
    margin-right: 20px;
    margin-top: 5px;
    position: relative; }

.news-sidelist {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .news-sidelist .news-content-list {
    display: flex;
    align-items: center; }
    .news-sidelist .news-content-list:not(:last-child) {
      margin-bottom: 2em; }
    .news-sidelist .news-content-list .news-category {
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 3px; }
  .news-sidelist .news-title {
    font-weight: 600; }
  .news-sidelist > div {
    flex: 1 0 auto; }
  .news-sidelist-imageRight {
    margin-left: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    height: 90px;
    max-width: 90px;
    position: relative;
    margin-right: 20px; }
  .news-sidelist-text {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }

.gallery-section h4 {
  letter-spacing: 4px !important; }

.gallery-section .font--15 {
  font-size: 15px !important; }

.news-boxes {
  display: flex;
  align-items: center; }

@media (min-width: 768px) and (max-width: 991px) {
  .news-boxes {
    display: block; } }
  @media (max-width: 767px) {
    .news-boxes {
      display: block; } }
  .news-boxes.boxed {
    border-color: #ccc; }
  .news-boxes.feature-5 {
    padding: 0; }
    .news-boxes.feature-5 img {
      width: 35%;
      float: left;
      margin: 0;
      margin-right: 15px; }

@media (min-width: 768px) and (max-width: 991px) {
  .news-boxes.feature-5 img {
    width: 100%; } }
      @media (max-width: 767px) {
        .news-boxes.feature-5 img {
          width: 100%; } }
    .news-boxes.feature-5 .feature__body {
      padding: 12px;
      width: 60%; }

@media (min-width: 768px) and (max-width: 991px) {
  .news-boxes.feature-5 .feature__body {
    width: 100%; } }
      @media (max-width: 767px) {
        .news-boxes.feature-5 .feature__body {
          width: 100%; } }

.publications .triptych .feature-7 {
  height: 100%; }

.publications .triptych.border--round img {
  border-radius: 0; }

.publications .triptych.border--round .center img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  z-index: 2;
  box-shadow: 0 23px 40px rgba(0, 0, 0, 0.2); }

@media (max-width: 767px) {
  .publications .triptych.inner img {
    width: 100%;
    margin-bottom: 24px; } }

@media (max-width: 767px) {
  .publications .triptych.inner .center img {
    transform: none;
    -webkit-transform: none; } }

.magazines .news-title {
  bottom: 2em !important; }
