@import 'app';

#home-banner {
	.gradient-overlay {

		position: relative;
		&:before {
			position: absolute;
			content: '';
			top: 0;
		    right: 0;
		    bottom: 0;
		    left: 0;
		    z-index:1;
			background-image: linear-gradient(to bottom left,transparent,rgba(0,0,0,0.8));
			opacity: 0.9;
		}
	}

	.lead {
		color: #fff;
		font-weight: 500;
	}

	
	.pos-vertical-center {
		@include media($sm...) {
			top: 40%;
			transform: translateY(-50%);
		    -webkit-transform: translateY(-50%);
		}
		@include media($md...) {
			top: 30%;
			transform: translateY(0%);
		    -webkit-transform: translateY(0%);
		}
		
	}
	.btn {
		margin-bottom: 0 !important;
		@include media($xs) {
			margin-bottom: 1em !important;

		}
	}
}


