@-webkit-keyframes anim1{
	0%{
		top: 20px;
    right: 12px;
	}
  20%{
    opacity:1;
  }
	100%{
	  opacity:1;
		 right: -25px;
    top: -20px;
	}
}
@keyframes anim1{
	0%{
		top: 20px;
    right: 12px;
	}
  20%{
    opacity:1;
  }
	100%{
	  opacity:1;
		 right: -25px;
    top: -20px;
	}
}

@-webkit-keyframes anim2{
	0%{
		top: 20px;
    right: 12px;
	}
  20%{
    opacity:1;
  }
	100%{
	  opacity:1;
		 right: -25px;
    top: -20px;
	}
}
@keyframes anim2{
	0%{
		top: 20px;
    right: 12px;
	}
  20%{
    opacity:1;
  }
	100%{
	  opacity:1;
		top: 30px;
    right: 15px;
	}
}
@-webkit-keyframes animout{
	0%{
		height:100vh;
	}
	100%{
	 height:0px;
	}
}
@keyframes animout{
	0%{
		height:100vh;
	}
	100%{
	 height:0px;
	}
}