@import 'app';

#other-donate {
	&.space--md {
		padding-bottom: 2em;
	}
	.border--round {
		border-radius: 43px;
	}
}

.project-slider {
	.flickity-viewport {
		.project-thumb {
			height: 350px !important;

		}

	}
	.hover-element .hover-element__reveal{
		top: initial;
		bottom:0;
		.project-thumb__title {
			height: 100%;
		    display: flex;
		    align-items: initial;
		    text-align: left;
		    padding-top: 4em;
		}
	}
	.flickity-prev-next-button{
		&.next,
		&.previous{
			bottom: -2em;
		}
		&:before{

			color: $color-black !important;
		}
	}

}

.feature-books {
	.feature {
		margin-bottom: 20px;
		img {
			margin-bottom: 2em;
		}
	}
	.author-name {
		color: #666666;
	}
}