.about-desc {
  margin-bottom: 2em; }
  .about-desc .w-70 {
    width: 70%; }
    @media (max-width: 767px) {
      .about-desc .w-70 {
        width: 100%; } }
  .about-desc .box-over-img {
    z-index: 1;
    margin: 70px 0px -65px -65px;
    padding: 60px 95px 60px 95px;
    text-align: center;
    align-items: center;
    position: relative; }

@media (min-width: 768px) and (max-width: 991px) {
  .about-desc .box-over-img {
    margin: 95px 0px -65px -65px;
    padding: 30px 15px 30px 15px; } }
    @media (max-width: 767px) {
      .about-desc .box-over-img {
        margin: 12px 0;
        padding: 55px 10px; } }
  @media (max-width: 767px) {
    .about-desc {
      margin-bottom: 0; } }
