.bar {
  padding-top: 4em !important; }
  .bar .bar__module .logo {
    font-size: 1.5em;
    font-weight: 900;
    color: #fff; }
  .bar .bar__module .menu-horizontal li * {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    text-transform: lowercase;
    opacity: .7 !important; }
    .bar .bar__module .menu-horizontal li *:hover {
      opacity: 1 !important; }

.title-large {
  font-weight: 600;
  font-size: 4.7em;
  margin-bottom: 2rem; }

.btn.btn-red {
  border-radius: 0;
  border: 1px solid white;
  height: 45px;
  font-weight: 600;
  color: #fff; }
  .btn.btn-red:hover {
    border: 1px solid rgba(224, 80, 80, 0.65) !important;
    background: rgba(224, 80, 80, 0.65); }

.styled-link {
  padding: 0 0.5em;
  background-image: linear-gradient(120deg, #ed6464 0%, #ed6464 100%);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 0;
  border-bottom: 2px solid #ed6464;
  text-decoration: none;
  transition: background-size .125s ease-in;
  font-size: 1em !important; }
  .styled-link:hover {
    background-size: 100% 100%;
    color: #fff;
    text-decoration: none;
    cursor: pointer; }

.img-rounded {
  border-radius: 50%;
  width: 80%; }

.img-portfolio {
  border-radius: 10px; }

.pt-6 {
  padding-top: 6em; }
