@import 'app';

.color{
	&-red {
		color: #F71E1F;
	}
}

.pb--5{
	padding-bottom: 5em;
	@include media($xs){
		padding-bottom:0;
	}
}

.mb--9m{
	margin-bottom: 9em;
}


.absolute-cross {
	position: absolute;
	right:11em;
	bottom:-17em;

}


.unalign {
	&.boxed {
		border: 1px solid #ccc;
		padding: 7em !important;
		margin-bottom: 0 !important;
		p {
			line-height:2;
		}
		.header-cross{
			padding-top:10px;
		}
	}
}

.products-boxes {
	&:hover {
		.boxed {
			background: #F71E1F;
			border-color: #F71E1F;
			* {
				color: #fff;
			}
			p {
				font-weight: 600;
			}
			.btn {
				background: #fff;
				.btn__text {
					color: #F71E1F
				}
			}
		}
	}
}

.box-discover {
	.color-red {
		color: #F71E1F !important;
	}
	.imagebg {
		height: 250px;
		background: #fff;
		padding-top:1em;
		padding-bottom:1em;
		border: 1px solid #ccc;
		.background-image-holder {
			transform: scaleY(0);
			// transform-origin: bottom center;
			 transform-origin: bottom center;
			-webkit-transition: -webkit-transform 1s ease-in-out;
		    transition: -webkit-transform 1s ease-in-out;
		    transition: transform 2s ease-in-out;
		    transition: transform 2s ease-in-out, -webkit-transform .1s ease-in-out;
		    
		}
		.discover-title {
			color: #000;
			font-weight: 600;
		}
		&:hover {
						   
			.background-image-holder {
				transform: scaleY(1);	

			}
			.discover-title {
				color: #fff;
			}
		}
	}

}
