@media (max-width: 767px) {
  #home-banner .title {
    font-size: 1.8em; } }

@media (min-width: 768px) and (max-width: 991px) {
  #home-banner.space--lg {
    padding-top: 12.85714286em; } }

@media (max-width: 767px) {
  #home-banner.space--lg {
    padding-bottom: 4.75714286em; } }

@media (min-width: 768px) and (max-width: 991px) {
  #home-banner .pos-vertical-center-xs {
    top: 0;
    transform: translateY(0%);
    -webkit-transform: translateY(0%); } }

@media (max-width: 767px) {
  #home-banner .pos-vertical-center-xs {
    transform: translateY(5%);
    -webkit-transform: translateY(5%); } }

@media (min-width: 768px) and (max-width: 991px) {
  #home-banner.height-100 {
    height: auto; } }

.progressbar {
  height: 10px;
  background: #333; }

.image--angel {
  bottom: 3em;
  right: 10em;
  width: 8em; }
  @media (max-width: 767px) {
    .image--angel {
      width: 5em;
      right: 1em; } }

.svg-rect {
  position: absolute;
  right: -7em;
  top: 2em; }
