@import 'app';

.operations {
	.countries {
		li {
			&.first{
				flex: 0 0 8%;
    			max-width: 8%;
    			margin-right: 20px;

	    	}
	    	&.second {
	    		flex: 0 0 90%;
	    		max-width: 90%;
	    	}
	    	
		}
	}
}