#other-donate.space--md {
  padding-bottom: 2em; }

#other-donate .border--round {
  border-radius: 43px; }

.project-slider .flickity-viewport .project-thumb {
  height: 350px !important; }

.project-slider .hover-element .hover-element__reveal {
  top: initial;
  bottom: 0; }
  .project-slider .hover-element .hover-element__reveal .project-thumb__title {
    height: 100%;
    display: flex;
    align-items: initial;
    text-align: left;
    padding-top: 4em; }

.project-slider .flickity-prev-next-button.next, .project-slider .flickity-prev-next-button.previous {
  bottom: -2em; }

.project-slider .flickity-prev-next-button:before {
  color: #000 !important; }

.feature-books .feature {
  margin-bottom: 20px; }
  .feature-books .feature img {
    margin-bottom: 2em; }

.feature-books .author-name {
  color: #666666; }
